/* app css start */
html, body, .map-container{
    width:100%;
    height:100%;
}

body{
	position:relative;
	overflow:hidden;
    background:url('../img/bg.gif') repeat;
}

.map-container{
    position: relative;
}

#map{
    position:absolute;
}

div.node {
    position: absolute;
    cursor: default; 
}

div.node-caption {
    position: absolute;
    min-width: 100px;
    max-width: 200px;
    background-color: #CCDDEE;
    border-color: #8BA2C0 #5890BF #4F93CA #768FA5;
    border-radius: 16px 16px 16px 16px;
    border-style: solid;
    border-width: 2px;
    color: #FFFFFF;
    font: 12px/1.5 "Tahoma", Geneva, sans-serif;
    padding:10px;
    text-shadow: 1px 2px 2px rgba(10, 10, 10, 0.5);
    z-index: 99;
    text-align: center;
}

div.node canvas{
    position:absolute;
}

textarea.node-editor{
    width:100px;
}

body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}